<% provide(:title, 'Доставка')%>
<% provide(:description, 'Бесплатная доставка, +7 (499) 391-51-52, Осуществляется в районах Измайлово, Северное Измайлово, Восточное Измайлово')%>
<div class="info center">
<h4>У нас есть бесплатная доставка</h4>
<p>Минимальная сумма заказа составляет 1000 рублей</p>
<p>Заказ можно осуществить с 10.00 до 22.00, ежедневно</p>
<p>Доставка осуществляется в районах Измайлово, Северное Измайлово, Восточное Измайлово</p>
<h4>+7 (499) 391-51-52</h4>
</div>